@import '../../../colors.scss';

.menu-tab {
  background-color: $primary-color-2;
  color: $primary-color-1;

  height: 4vh;

  padding: 0 1rem;
  margin: 0 0.5rem;

  border: none;
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;

  font-size: 1rem;
}

.menu-tab:hover {
  background-color: $primary-color-1;
  color: $primary-color-3;

  height: 5vh;

  padding: 0.5rem 1rem;

  font-size: 1.2rem;
  font-weight: 400;
}