@import '../../colors.scss';

.card {
  position: relative;
  display: flex;

  background-color: $primary-color-1;
  
  width: 40vw;
  height: 20vh;
  min-height: 4rem;
  border-radius: 8px;

  overflow: hidden;
  
  .card-optional {
    background-color: $primary-color-3;
  }

  .label {width: 5%;}
    
  .label-undefined {background-color: $primary-color-2;}
  .label-working {background-color: $accent-color-4;}
  .label-nigh {background-color: $accent-color-1;}
  .label-completed {background-color: $accent-color-3;}

  .label-needed {background-color: $accent-color-5;}
  .label-important {background-color: $accent-color-2;}
  .label-crisis {background-color: $accent-color-6;}

  form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: calc(90% - 1rem);
    margin: 0.5rem;

    text-align: left;

    textarea {
      background-color: $primary-color-1;
      color: $primary-color-3;

      font-size: 1rem;
      resize: none;

      height: 100%;
      width: 100%;

      border: none;
      border-radius: 8px;
    }

    .card-date-modified {
      color: $primary-color-3;
      margin: 0;
    }
  }
}

.drag-handle {
  width: 2.5rem;
  height: 2.5rem;

  position: absolute;
  top: 0.25rem;
  left: 0.25rem;

  background-color: $primary-color-3;

  border: none;
  border-radius: 8px;

  opacity: 0;
}

.card:hover {
  .drag-handle {
    opacity: 0.2;
  }

  .drag-handle:hover {
    opacity: 1;
  }
}