.folder {

  width: auto;
  height: 100%;
  overflow: hidden;

  .folder-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .card-task {
    margin-top: 1rem;
  }
}