@import '../../colors.scss';

.folder {
  width: auto;
  height: auto;

  overflow: hidden;

  .folder-container {
    height: calc(40vh + 1rem);
    
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 20vh;
    
    gap: 0.5rem;

    place-self: center;

    overflow-y: hidden;
  }

}

.folder:hover {
  .folder-container {
    height: calc(80vh + 1.5rem);

    grid-template-columns: 1fr 1fr;

    overflow-y: scroll;
  }
}

.folder-title {
  background-color: $primary-color-1;

  border-radius: 8px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;

  margin-bottom: 1rem;

  overflow: hidden;

  input {
    width: 100%;

    background-color: $primary-color-1;
    color: $primary-color-3;
    
    padding: 0;
    margin: 0;
    margin-top: 0.5rem;

    font-size: 1.5rem;
    text-align: center;

    border: none;
    border-radius: 8px;
  }
}
