@import '../../colors.scss';

.buttons-utility-container {
  display: flex;
  gap: 0.5rem;

  align-items: center;
  justify-content: center;
}

.button-utility {  
  min-width: 2.5rem;
  min-height: 2.5rem;
  border: none;
  border-radius: 8px;
  
  opacity: 0;
}

.button-utility-light {
  background-color: $primary-color-1;
  color: $primary-color-3;
}

.button-utility-dark {
  background-color: $primary-color-3;
  color: $primary-color-1;
}

.card:hover,
.folder:hover {
  .button-utility {
    opacity: 0.2;
  }

  .button-utility:hover {
    opacity: 1;
  }
}