@import '../../../colors.scss';

.card-task {
  position: relative;
  display: flex;

  background-color: $primary-color-1;
  
  width: 60vw;
  height: 30vw;
  border-radius: 8px;

  overflow: hidden;
  
  .label {
    width: 5%;
    background-color: $accent-color-1;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 85%;
    margin: 0.5rem;

    text-align: left;

    textarea {
      background-color: $primary-color-1;
      color: $primary-color-2;

      font-size: 1rem;
      resize: none;

      height: 100%;
      width: 100%;

      border: none;
      border-radius: 8px;
    }

    p {
      margin: 0;
    }
  }

  .checkbox {
    width: 10%;
  }
}