.binder {
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: row;
  
  overflow-x: visible;

  .folder {
    margin: 0 0.5rem;
  }
}

.binder-container {
  display: flex;
  flex-direction: row;
  overflow-x: visible;
  flex-wrap: nowrap;
}