@import './colors.scss';

.field {
  height: 100%;
  width: 100%;

  margin: 0;
  
  overflow-x: scroll;
}

textarea, input {
  background-color: $primary-color-1;
  color: $primary-color-3;

  border: 0.2rem $primary-color-1 solid;

  padding: 0;
  border-radius: 8px;
}

textarea::placeholder, input::placeholder,
textarea::-moz-placeholder, input::-moz-placeholder {
  color: $primary-color-2;
}

textarea:hover, input:hover {
  border-color: $primary-color-2;
}

textarea {
  resize: none;
}