$primary-color-1: #E4E2FF;
$primary-color-2: #5D4E79;
$primary-color-3: #3F2761;

$secondary-color-1: #35DA59;
$secondary-color-2: #E42067;
$secondary-color-3: #FA7146;

$accent-color-1: #3C91E6;
$accent-color-2: #F1CE18;
$accent-color-3: #2EDAE5;
$accent-color-4: #7845CB;
$accent-color-5: #01D7A3;
$accent-color-6: #FF8CD1;