$primary-color: #E4E2FF;
$primary-2-color: #5D4E79;
$primary-3-color: #3F2761;

$secondary-color: #35DA59;
$secondary-2-color: #E42067;
$secondary-3-color: #FA7146;

$accent-color: #3C91E6;
$accent-2-color: #F1CE18;
$accent-3-color: #2EDAE5;
$accent-4-color: #7845CB;
$accent-5-color: #01D7A3;
$accent-6-color: #FF8CD1;